DESCARGA DESDE LA API, DATASTREAMS, FILTRANDO SOLO LO DE ACCESO A INTERNET

In [107]:
import pandas as pd
import requests
from datetime import datetime

In [ ]:


base_url = 'https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/'
params = {'auth_key': 'L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM'}

response = requests.get(base_url, params=params)

if response.status_code == 200:
    data = response.json()
    # Trabaja con los datos JSON aquí
    print(data)
else:
    print('Error al realizar la solicitud:', response.status_code)

In [7]:
# Filtrar los elementos por su campo category_name
internet_data = [item for item in data if item['category_name'] == 'Acceso a Internet']

In [8]:
for i, item in enumerate(internet_data):
    guid = item['guid']
    url = f"{base_url}{guid}/data.csv/?auth_key={params['auth_key']}"
    item_response = requests.get(url)
    nombre_1 = item['title']
    
    print(url)
    if item_response.status_code == 200:
        # Guardar el contenido de la respuesta en un archivo CSV
        file =f'{nombre_1}_datastreams_{str(i)}.csv'
        dataframe = pd.read_csv(url)
        dataframe.to_csv(file, index=False)
            
        print('Archivo CSV guardado exitosamente')
    else:
        print('Error al hacer la solicitud al elemento:', item_response.status_code)

https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/CONEC-AL-SERVI-DE-INTER/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/LISTA-DE-LOCAL-CON-CONEC/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-POR/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-NACIO-DEL-INTER-FIJO/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-62463/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-16249/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-51733/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-48866/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/BANDA-ANCHA-Y-BANDA-ANGOS/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-A/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-23248/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-32663/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-97624/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente
https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INDIC-MACRO/data.csv/?auth_key=L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM
Archivo CSV guardado exitosamente

In [14]:
df = pd.read_csv("datos_16_internet.csv")
df.head()

    Año  Trimestre  IPC US  IPC AR USDARS oficial USDARS blue PBI millones
0  2013          1  232773     298           5,00        9,00    2.888.981
1  2013          2  233504     309           5,00        9,00    3.387.811
2  2013          3  234149     331           6,00       10,00    3.436.547
3  2013          4  233049     351           6,00       11,00    3.679.896
4  2014          1  236293     402           8,00       11,00    3.917.649

AHORA ESTA LA DESCARGA DE DATASETS

In [ ]:
import requests

base_url = 'https://api.datosabiertos.enacom.gob.ar/api/v2/datasets/'
params = {'auth_key': 'L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM'}

response = requests.get(base_url, params=params)

if response.status_code == 200:
    data = response.json()
    # Trabaja con los datos JSON aquí
    print(data)
else:
    print('Error al realizar la solicitud:', response.status_code)

In [ ]:
internet_data = [item for item in data if item['category_name'] == 'Acceso a Internet']
for item in internet_data:
    print(item)

In [ ]:
for i, item in enumerate(internet_data):
    guid = item['guid']
    url = f"{base_url}{guid}/?auth_key={params['auth_key']}"
    nombre = item['title']
    print(url)
    item_response = requests.get(url)
    item_json = item_response.json()
    download_url = item_json['download_url']
    print(download_url)
    item_response = requests.get(download_url)
    
    if item_response.status_code == 200:
        # Guardar el contenido de la respuesta en un archivo XML
        file =f'{nombre}_dataset_{str(i)}.csv'
        dataframe = pd.read_excel(item_response.content)

        # Guardar el DataFrame en un archivo CSV
        dataframe.to_csv(file, index=False)
            
        print('Archivo XML guardado exitosamente')
    else:
        print(download_url)
        print('Error al hacer la solicitud al elemento:', item_response.status_code)

El archivo 10, esta corrupto, idem en datastreams

In [115]:
for i, item in enumerate(internet_data):
    if i == 10:
        guid = item['guid']
        url = f"{base_url}{guid}/?auth_key={params['auth_key']}"
        print(url)
        item_response = requests.get(url)
        item_json = item_response.json()
        download_url = item_json['download_url']
        print(download_url)

https://api.datosabiertos.enacom.gob.ar/api/v2/datasets/MAPA-DE-CONEC/?auth_key=30h4w4I05HIGeD0WgCDgyBCQWpLkzmZLHubG6p24
https://indicadores.enacom.gob.ar/mapasconectividadabierto.aspx

cargar Servicios Postales

In [ ]:
import pandas as pd
import requests

base_url = 'https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/'
params = {'auth_key': 'L0p0zwDA1rhdIVq8cTGXys907h0Ic9mhFyRP9UEM'}

response = requests.get(base_url, params=params)

if response.status_code == 200:
    data = response.json()
    # Trabaja con los datos JSON aquí
    print(data)
else:
    print('Error al realizar la solicitud:', response.status_code)

In [ ]:
internet_data = [item for item in data if item['category_name'] == 'Servicios Postales']
for item in internet_data:
    print(item)

In [ ]:
for i, item in enumerate(internet_data):
    guid = item['guid']
    url = f"{base_url}{guid}/?auth_key={params['auth_key']}"
    nombre = item['title']
    print(url)
    item_response = requests.get(url)
    item_json = item_response.json()
    download_url = item_json['download_url']
    print(download_url)
    item_response = requests.get(download_url)
    
    if item_response.status_code == 200:
        # Guardar el contenido de la respuesta en un archivo XML
        file =f'{nombre}_dataset_{str(i)}.csv'
        dataframe = pd.read_excel(item_response.content)

        # Guardar el DataFrame en un archivo CSV
        dataframe.to_csv(file, index=False)
            
        print('Archivo XML guardado exitosamente')
    else:
        print(download_url)
        print('Error al hacer la solicitud al elemento:', item_response.status_code)

#### Internet fijo por tecnologia y Provincia

In [14]:
df_PorTecno_y_Provincia=pd.read_csv('../data/Acceso a Internet fijo por tecnología y provincia_datastreams_10.csv')

In [ ]:
df_PorTecno_y_Provincia.info()

In [48]:
df_PorTecno_y_Provincia['Trimestre']=df_PorTecno_y_Provincia['Trimestre'].str.replace('*','')

In [49]:
df_PorTecno_y_Provincia['Trimestre']=df_PorTecno_y_Provincia['Trimestre'].astype(int)

In [28]:
df_PorTecno_y_Provincia.dropna(inplace=True)

In [51]:
df_PorTecno_y_Provincia.to_csv('Acceso_a_Internet_fijo_por_tecnología_y_provincia.csv',index=False)

#### Accesos a bandas por provincia

In [52]:
df_Accesos_a_bandas_por_provincia=pd.read_csv('../data/Accesos a banda ancha y banda angosta por provincia_datastreams_9.csv')

In [73]:
df_Accesos_a_bandas_por_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               838 non-null    int64
 1   Trimestre         838 non-null    int64
 2   Provincia         838 non-null    object
 3   Banda ancha fija  838 non-null    int32
 4   Dial up           838 non-null    int32
 5   Total             838 non-null    Int64
dtypes: Int64(1), int32(2), int64(2), object(1)
memory usage: 40.1+ KB

In [63]:
df_Accesos_a_bandas_por_provincia.dropna(inplace=True)

In [68]:
df_Accesos_a_bandas_por_provincia['Total']=df_Accesos_a_bandas_por_provincia['Total'].str.replace('.','')

In [71]:
df_Accesos_a_bandas_por_provincia['Total']=df_Accesos_a_bandas_por_provincia['Total'].astype('Int64')

In [74]:
df_Accesos_a_bandas_por_provincia.to_csv('bandas_por_Provincias.csv',index=False)

#### Portabilidad numerica por operador

In [84]:
df_portabilidad=pd.read_csv('../data/Portabilidad_numerica_movil_por_operador.csv')

In [106]:
df_portabilidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       128 non-null    object
 1   Mes       128 non-null    int64
 2   Personal  128 non-null    int32
 3   Claro     128 non-null    int32
 4   Movistar  128 non-null    int32
 5   Periodo   128 non-null    object
dtypes: int32(3), int64(1), object(2)
memory usage: 4.6+ KB

In [86]:
df_portabilidad.drop(columns=['Nextel','Otros'],inplace=True)

In [88]:
df_portabilidad['Año']=df_portabilidad['Año'].astype(str)

In [102]:
df_portabilidad['Personal']=df_portabilidad['Personal'].str.replace('"','')
df_portabilidad['Personal']=df_portabilidad['Personal'].str.replace(',','')
df_portabilidad['Personal']=df_portabilidad['Personal'].astype(int)

In [103]:
df_portabilidad['Claro']=df_portabilidad['Claro'].str.replace('"','')
df_portabilidad['Claro']=df_portabilidad['Claro'].str.replace(',','')
df_portabilidad['Claro']=df_portabilidad['Claro'].astype(int)

In [104]:
df_portabilidad['Movistar']=df_portabilidad['Movistar'].str.replace('"','')
df_portabilidad['Movistar']=df_portabilidad['Movistar'].str.replace(',','')
df_portabilidad['Movistar']=df_portabilidad['Movistar'].astype(int)

In [111]:
#df_portabilidad['Periodo'] = pd.to_datetime(df_portabilidad['Periodo'], format='%b-%y')
df_portabilidad.drop(columns='Periodo',inplace=True)

In [175]:
df_portabilidad.head(5)

    Año  Mes  Personal  Claro  Movistar
0  2012    3       -17     19        -2
1  2012    4      3508  -1134     -2185
2  2012    5      1253   4792     -5192
3  2012    6      3263  -1248     -1167
4  2012    7      5554  -3847      -602

In [114]:
df_portabilidad.to_csv('portabilidad_mensual.csv',index=False)

#### Portabilidad um movil altas por operador

In [158]:
df_movil_altas=pd.read_csv('../data/Portabilidad_um_movil_altas_por_operador.csv')

In [163]:
df_movil_altas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       128 non-null    int64
 1   Mes       128 non-null    int64
 2   Personal  128 non-null    object
 3   Claro     128 non-null    object
 4   Movistar  128 non-null    object
dtypes: int64(2), object(3)
memory usage: 5.1+ KB

In [123]:
#df_movil_altas['Año'] = pd.to_datetime(df_movil_altas['Año'], format='%b-%y')
#df_movil_altas['Año']=pd.to_datetime(df_movil_altas['Año']).dt.year

In [162]:
df_movil_altas.drop(columns='Nextel',inplace=True)

In [164]:
df_movil_altas['Movistar']=df_movil_altas['Movistar'].str.replace('"','')
df_movil_altas['Movistar']=df_movil_altas['Movistar'].str.replace(',','')
df_movil_altas['Movistar']=df_movil_altas['Movistar'].astype(int)

In [165]:
df_movil_altas['Personal']=df_movil_altas['Personal'].str.replace('"','')
df_movil_altas['Personal']=df_movil_altas['Personal'].str.replace(',','')
df_movil_altas['Personal']=df_movil_altas['Personal'].astype(int)

In [166]:
df_movil_altas['Claro']=df_movil_altas['Claro'].str.replace('"','')
df_movil_altas['Claro']=df_movil_altas['Claro'].str.replace(',','')
df_movil_altas['Claro']=df_movil_altas['Claro'].astype(int)

In [171]:
df_movil_altas.head(2)

    Año  Mes  Personal   Claro  Movistar   Total
0  2022   10     60855  117430    119716  298001
1  2022    9     63315  131071    115906  310292

In [170]:
df_movil_altas['Total']= df_movil_altas['Personal']+df_movil_altas['Claro']+df_movil_altas['Movistar']

In [172]:
df_movil_altas.to_csv('movil_altas_por_operador.csv',index=False)

#### Total accesos por tecnologia

In [155]:
df_total_accesos_por_tecnologia = pd.read_csv('../data/Total nacional de accesos a Internet fijo por tipo de tecnología_datastreams_11.csv')

In [176]:
df_total_accesos_por_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

In [138]:
df_total_accesos_por_tecnologia['Año']=pd.to_datetime(df_total_accesos_por_tecnologia['Año']).dt.year

In [143]:
df_total_accesos_por_tecnologia.drop(columns='Total',inplace=True)

In [147]:
df_total_accesos_por_tecnologia['ADSL']=df_total_accesos_por_tecnologia['ADSL'].replace('.','')
df_total_accesos_por_tecnologia['Cablemodem']=df_total_accesos_por_tecnologia['Cablemodem'].replace('.','')
df_total_accesos_por_tecnologia['Fibra óptica']=df_total_accesos_por_tecnologia['Fibra óptica'].replace('.','')
df_total_accesos_por_tecnologia['Wireless']=df_total_accesos_por_tecnologia['Wireless'].replace('.','')

In [152]:
df_total_accesos_por_tecnologia[['Fibra óptica','Wireless']]=df_total_accesos_por_tecnologia[['Fibra óptica','Wireless']].astype(int)

In [177]:
df_total_accesos_por_tecnologia.head(2)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022

#### Conectividad internet Nacional

In [183]:
df_conect_a_internet_nacional=pd.read_csv('./conectividad_a_internet_Nacional.csv')

In [210]:
df_conect_a_internet_nacional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  4G             4312 non-null   object
 12  Latitud        4312 non-null   float64
 13  Longitud       4312 non-null   float64
dtypes: float64(2), int64(1), object(11)
memory usage: 471.8+ KB

In [185]:
df_conect_a_internet_nacional.drop(columns='3G',inplace=True)

In [197]:
df_conect_a_internet_nacional['Latitud']=df_conect_a_internet_nacional['Latitud'].replace('"','')
df_conect_a_internet_nacional['Longitud']=df_conect_a_internet_nacional['Longitud'].replace('"','')

In [207]:
df_conect_a_internet_nacional['Latitud']=df_conect_a_internet_nacional['Latitud'].str.replace(',','')
df_conect_a_internet_nacional['Longitud']=df_conect_a_internet_nacional['Longitud'].str.replace(',','')

In [211]:
df_conect_a_internet_nacional.head(10)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,4G,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,-3.864726e+14,-6.232002e+14
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,-3.877651e+14,-6.218518e+14
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,-3.784828e+14,-5.825517e+14
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,-3.794121e+11,-5.832259e+14
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,-3.762550e+14,-5.874619e+14
5,BUENOS AIRES,Balcarce,Ramos Otero,95,--,--,--,--,--,SI,--,SI,-3.754264e+14,-5.834072e+14
6,BUENOS AIRES,Balcarce,San Agustín,498,--,--,--,--,--,SI,SI,--,-3.801228e+14,-5.835538e+13
7,BUENOS AIRES,Balcarce,Villa Laguna La Brava,115,--,--,--,--,--,SI,SI,SI,-3.785963e+14,-5.798060e+14
8,BUENOS AIRES,Baradero,Baradero,28537,SI,SI,--,SI,SI,SI,SI,SI,-3.381288e+14,-5.950431e+14
9,BUENOS AIRES,Baradero,Irineo Portela,379,--,--,--,SI,SI,SI,SI,--,-3.398105e+14,-5.967156e+14

In [209]:
df_conect_a_internet_nacional['Latitud']=df_conect_a_internet_nacional['Latitud'].astype(float)
df_conect_a_internet_nacional['Longitud']=df_conect_a_internet_nacional['Longitud'].astype(float)

In [189]:
df_conect_a_internet_nacional.head(2)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,4G,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,"-38,7765069529222","-62,1851833537179"

In [212]:
df_conect_a_internet_nacional.to_csv('conectividad_a_internet_Nacional.csv',index=False)

#### Ingresos Telefonia

In [213]:
df_ingresos_telefonia=pd.read_csv('./ingresos_trimestrales_telefonia_fija.csv')

In [228]:
df_ingresos_telefonia.head(2)

    Año  Trimestre  Ingresos (miles de $)
0  2014          1                2916071
1  2014          2                2974865

In [220]:
df_ingresos_telefonia['Ingresos (miles de $)']=df_ingresos_telefonia['Ingresos (miles de $)'].str.replace(',','.')

In [227]:
df_ingresos_telefonia['Ingresos (miles de $)']=df_ingresos_telefonia['Ingresos (miles de $)'].apply(lambda x: int(x.split('.')[0]))

In [231]:
df_ingresos_telefonia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    35 non-null     int64
 1   Trimestre              35 non-null     int64
 2   Ingresos (miles de $)  35 non-null     int64
dtypes: int64(3)
memory usage: 972.0 bytes

In [232]:
df_ingresos_telefonia.to_csv('./ingresos_trimestrales_telefonia_fija_OK.csv',index=False)

#### Accesos a internet fijo por provincia y localidad

In [233]:
df_internet_por_tecno_y_localidad=pd.read_csv('../data/Accesos a Internet fijo por tecnología y localidad_dataset_2.csv')

In [239]:
df_internet_por_tecno_y_localidad.head(3)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,0,0,0,0,0,0,0,181,181

In [237]:
df_internet_por_tecno_y_localidad.drop(columns='Link Indec',inplace=True)

In [241]:
df_internet_por_tecno_y_localidad.WIMAX.sum()

2107

In [242]:
df_internet_por_tecno_y_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   ADSL           3142 non-null   int64
 4   CABLEMODEM     3142 non-null   int64
 5   DIAL UP        3142 non-null   int64
 6   FIBRA OPTICA   3142 non-null   int64
 7   OTROS          3142 non-null   int64
 8   SATELITAL      3142 non-null   int64
 9   WIMAX          3142 non-null   int64
 10  WIRELESS       3142 non-null   int64
 11  Total general  3142 non-null   int64
dtypes: int64(9), object(3)
memory usage: 294.7+ KB

In [243]:
df_internet_por_tecno_y_localidad.to_csv('Accesos_internet_fijo_por_localidad_y_tecno.csv',index=False)

#### Ingresos Internet fijo

In [ ]:
df=pd.read_csv('./4_Ingresos_por_operación _Internet_fijo_OK.csv')

In [ ]:
df['Ingresos (miles de pesos)']=df['Ingresos (miles de pesos)'].str.replace('.','')
df['Ingresos (miles de pesos)']=df['Ingresos (miles de pesos)'].astype(int)

In [ ]:
df=df.sort_values(['Año','Trimestre'],ascending=True)

In [ ]:
df.to_csv('./4_Ingresos_por_operación _Internet_fijo_OK.csv',index=False)